@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-size: x-large;
    font-weight: 400;
    src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Regular.woff') format('woff');
}

body {
    font-family: 'Inter', sans-serif;
}
